@import "tailwindcss";


:root {
  --navbar-bg: #ffffff; /* White */
  --navbar-text: var(--color-gray-900); /* Gray-600 */
  --navbar-text-hover: #2563eb; /* Blue-600 */
  --navbar-active: #2563eb; /* Blue-600 */
  --navbar-logo: #1f2937; /* Gray-800 */
  --navbar-dropdown-bg: #ffffff; /* White */
  --navbar-dropdown-text: #4b5563; /* Gray-600 */
  --navbar-dropdown-hover: #eff6ff; /* Blue-50 */
  --navbar-shadow: #e5e7eb; /* Gray-200 */
}

/* indigo */
@theme {
  --color-themecolor-100: rgb(219, 235, 250);  /* very light tint */
  --color-themecolor-200: rgb(179, 213, 244);  /* lighter tint */
  --color-themecolor-300: rgb(128, 184, 236);  /* light */
  --color-themecolor-400: rgb(77, 154, 226);   /* medium-light */
  --color-themecolor-500: rgb(38, 129, 211);   /* base mid */
  --color-themecolor-600: rgb(13, 108, 188);   /* darker mid */
  --color-themecolor-700: rgb(4, 95, 173);     /* close to 800 */
  --color-themecolor-800: rgb(0, 83, 166);     /* your defined base */
  --color-themecolor-900: rgb(0, 60, 120);     /* darkest */
  /* navbar color */
  --color-navbar-bg: var(--navbar-bg, #ffffff); /* Default: white */
  --color-navbar-text: var(--navbar-text, #4b5563); /*  Default: gray-600 */
  --color-navbar-text-hover: var(--navbar-text-hover, #2563eb); /* Default: blue-600 */
  --color-navbar-logo: var(--navbar-logo, #1f2937); /* Default: gray-800 */
  --color-navbar-dropdown-bg: var(--navbar-dropdown-bg, #ffffff); /* Default: white */
  --color-navbar-dropdown-text: var(--navbar-dropdown-text, #4b5563); /* Default: gray-600 */
  --color-navbar-dropdown-hover: var(--navbar-dropdown-hover, #eff6ff); /* Default: blue-50 */
  --color-navbar-shadow: var(--navbar-shadow, #e5e7eb); /* Default: gray-200 */
}




.btn {
  @apply inline-block font-medium text-center px-4 py-2 rounded-md transition-colors duration-200;
}

.btn-primary {
  @apply bg-themecolor-800 text-white hover:bg-themecolor-900 focus:outline-none focus:ring-2 focus:ring-themecolor-800 active:bg-themecolor-800;
}

.btn-secondary {
  @apply bg-gray-400 text-white hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-400 active:bg-gray-400;
}

.btn-outline-primary {
  @apply bg-themecolor-800 text-themecolor-800 border border-themecolor-800 bg-themecolor-800 bg-transparent hover:bg-themecolor-900 hover:text-white focus:outline-none focus:ring-2 focus:ring-themecolor-300;
}

.btn-lg {
  @apply text-lg px-5 py-3 rounded-md;
}

.btn-sm {
  @apply text-sm px-3 py-1.5;
}
.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}


