---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import DemoCom from '../components/DemoCom.jsx';
import Accordion from '../components/Accordion.astro';
import LanguageSwitcher from '@/components/LanguageSwitcher.astro';
import LanguageSwitchertwo from '@/components/LanguageSwitchertwo.astro';
import CaseStudies from '@/components/CaseStudies.astro';
import HeroSection from '@/components/HeroSection.astro';

const faqItems = [
  {
    title: "What is your return policy?",
    content: "You can return any item within 30 days of purchase, provided it’s in its original condition."
  },
  {
    title: "How long does shipping take?",
    content: "Shipping typically takes 3-5 business days within the continental US."
  },
  {
    title: "Do you offer international shipping?",
    content: "Yes, we ship internationally! Please contact us for rates and estimated delivery times."
  }
];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Welcome />
	<DemoCom /> -->
  <HeroSection />
  
	


	<div class="faq-section bg-white p-6 rounded-lg shadow-md mt-8">
		<h2 class="text-center text-2xl text-themecolor-800">FAQ</h2>
		<Accordion items={faqItems} />
	</div>

  <div>
    <CaseStudies />
    
  </div>

  
</Layout>
