---
// No frontmatter logic needed
import InquiryForm from "@/components/InquiryForm.astro";
---

<section class="py-20 bg-gray-800 dark:bg-gray-900 text-gray-800 dark:text-white" id="contact">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto">
        <h2 class="text-white text-3xl font-bold mb-6 text-center">Contact Us</h2>
        <p class="text-center text-gray-300 dark:text-gray-300 mb-10">
          We'd love to hear from you! Please fill out the form below and we'll get in touch as soon as possible.
        </p>
        <InquiryForm formClass="text-white"/>
      </div>
    </div>
  </section>
  